body{
    background-color: rgb(122, 50, 204);
}

.cool{
    visibility: hidden;
    width: 100px;
    height: 100px;
    background-color: rgb(17, 0, 255);
    transition: background-color 1s;
}

.cool.pink{
    visibility: visible;
    background-color: rgb(255, 0, 170);
}